
body{
    margin : 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

/*Header--------*/

.wrap{
    width: 90%;
    margin : auto;
}
.header{
    background-color :#ff789e;
    padding:  0.5em;
    border-bottom: 3px dotted white ;
    
}

.header-content {
    color : white;
    margin : auto;
    
}

.header-content-left,.header.content.right{
    float : left;
}

.header-content-left{
    padding-right: 18rem;

}

.header-content-right span{
    padding-right : 0.5rem;
}

.header-content-right i, .header-content-left i{
    padding-right : 0.5rem;
}

.header-content a{
    text-decoration: none;
    color : white;
}

/*START NAV */


.nav .logo-brand{
    padding : 01.5rem;
    float : left;
    width : 30%;
}

.nav-content-right{
    padding : 1.5rem;
}

/*SEARCH BOX */
.nav .search-bar {
    float : left;
    width : 60%;
    
}

form.search-box input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ff789e;
    border-radius : 25px;
    float: left;
    width: 90%;
    background: white;
    color : grey;
}

form.search-box button {
    float: left;
    width: 10%;
    padding: 10px;
    background: white;
    color: #ff789e;
    font-size: 17px;
    border: 1px solid #ff789e;
    border-radius : 25px;
    cursor: pointer;
}


form.search-box::after {
    content: "";
    clear: both;
    display: table;
}


/*NAV BAR */


/**/
.nav-bar ul {
    list-style-type: none;
    background-color: white;
    
}

.nav-bar ul li {
    float: left;
}

.nav-bar li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 0.4rem 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.nav-bar li a:hover {
    color: #ff789e;
}

.nav-bar li a:active {
    color: #ff789e
}

.clear{
    clear:both;
}

/*START MAIN CONTENT LOGIN SCREEN*/

.login-nav{
    color : #aeb5c6;
    margin : auto ;
    display : flex;
    background-color : #ffffff;
    padding : 0.5rem;
}
.login-nav-content{
    width: 85%;
    margin : auto;
    border : solid;
    border : #efefef;
    background-color: #efefef;
}
.login-main{
    margin : auto;
    background-color: #f1f1f1;
    display : flex;
    
}

.login-main-content{
    width : 50%;
    background-color : #ffffff;
    margin : 1rem auto;
    border-radius: 10px;
    
}

.login-nav-content ul{
    list-style-type: none;
  
}

.login-nav-content ul li {
    float : left;
    width : 18%;
    border-right :solid white;
}

.login-nav-content li a {
    display: block;
    color: #aebad2;
    text-align: center;
    padding: 0.4rem 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    
}

.login-main-content h4{
    color :#aebad2;
    text-align: center;
}

.login-view-content input[type=text]  {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ff789e;
    border-radius : 25px;
    float: left;
    width: 90%;
    background: white;
    color : grey;
    margin : 0.5rem;
    display: block;

}

.login-view-content input[type=submit]  {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ff789e;
    border-radius : 25px;
    float: left;
    width: 90%;
    background: #ff789e;
    color : #ffffff;
    margin : 0.5rem;
    display: block;
    cursor: pointer;
}

.login-view .login-view-content {
    width : 50%;
    margin : auto;
}
.login-view label{
    color :#202838;
    display: block;
    margin : 0.5rem;
}

.login-view-content input[type = submit]:hover{
    background-color: #ff0084;
}