<html !DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheet/layout6.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>

    <body>
        <!--Start Header-->
      <div class = "wrap">
        <div class = "header">
            <div class = "header-content">
                <div class= "header-content-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Hotline: 19000091</span>
                </div>
                <div class= "header-content-right">
                    <span>Chào mừng bạn đến với MOKI</span>
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Kiểm tra đơn hàng</a></span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Giỏ hàng</a></span>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="/login">Đăng nhập</a></span>
                    <span>/</span>
                    <span><a href="#">Đăng ký</a></span>

                </div>
            </div>
        </div>
        <!--END HEADER-->
        <!--START NAV-->
        <div class = "nav">
            <div class = "logo-brand">
                <img src="https://moki.vn/moki/themes/img/logo_medium.png" alt="logo">
            </div>
            <div class = "nav-content-right">
                <div class = "search-bar">
                        <form class="search-box" >
                            <input type="text" placeholder="Nhập sản phẩm bạn muốn tìm.." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                </div>
                <div class = "nav-bar">
                    <ul>
                        <li><a class= "active" href="/">TRANG CHỦ</a></li>
                        <li><a href="#">GÓC CỦA MẸ</a></li>
                        <li><a href="/gioithieu">GIỚI THIỆU</a></li>
                        <li><a href="#">SHOP MOKI</a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                </div>
            </div>
			<div class = "clear"></div>
            <hr>
        </div>
		<!--End of niv-->
		<!--Start Slider-->
    <div class="name">
      <p> BÉ ĂN</p>
    </div>
		<div class="slider">
		    <div class="slider-left">
			    <div class="slider-list">
		            <i class="fa fa-list-ul"> DANH MỤC SẢN PHẨM</i>
	                    <ul>
		                    <li><a href="#">Miễn phí</a></li>
			                <li><a href="#">Bé ăn</a><span class="fa fa-angle-double-down"></span>
				                <ul class="list-menu">
					                <li><a href="#">Ghế ăn bột cho bé</a></li>
					                <li><a href="#">Bình sữa và phụ kiện</a></li>
					                <li><a href="#">Sữa bột các loại</a></li>
					                <li><a href="#">Bột, cháo ăn dặm</a></li>
					                <li><a href="#">Đồ dùng ăn uống</a></li>
					                <li><a href="#">Thực phẩm đóng hộp</a></li>
				                </ul>
			                </li>
			                <li>
				                <a href="#">Bé mặc</a><span class="fa fa-angle-double-down"></span>
				                <ul class="list-menu">
					                <li><a href="#">Giày dép cho bé</a></li>
					                <li><a href="#">Mũ thời trang</a></li>
					                <li><a href="#">Đồ sơ sinh</a></li>
					                <li><a href="#">Phụ kiện thời trang</a></li>
					                <li><a href="#">Thời trang cho bé</a></li>
				                </ul>
			                </li>
			                <li>
				                <a href="#">Bé ngủ</a><span class="fa fa-angle-double-down"></span>
				                <ul class="list-menu">
					                <li><a href="#">Giường ngủ</a></li>
					                <li><a href="#">Nôi sách em bé</a></li>
					                <li><a href="#">Chăn ga, gối đệm</a></li>
					                <li><a href="#">Bộ quây cũi</a></li>
					                <li><a href="#">Nôi điện tự động</a></li>
					                <li><a href="#">Cũi cho bé</a></li>
					                <li><a href="#">Ghế rung cho bé</a></li>
					                <li><a href="#">Chặn giường</a></li>
					                <li><a href="#">Nôi ngủ chung giường</a></li>
					                <li><a href="#">Đèn ngủ</a></li>
				                </ul>
			                </li>
			                <li>
				                <a href="#">Bé tắm</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
					                <li><a href="#">Chậu tắm và phụ kiện</a></li>
					                <li><a href="#">Đo nhiệt độ tắm </a></li>
					                <li><a href="#">Khăn mặt, khăn tắm</a></li>
					                <li><a href="#">Đồ chơi khi tắm</a></li>
					                <li><a href="#">Sữa tắm,dầu gội dầu</a></li>
					                <li><a href="#">Mũ chắn nước</a></li>

				                </ul>
			                </li>
			                <li>
				                <a href="#">Bé vệ sinh</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
					                <li><a href="#">Vệ sinh cá nhân</a></li>
					                <li><a href="#">Kem hăm, dưỡng da</a></li>
					                <li><a href="#">Bỉm và tã giấy</a></li>
					                <li><a href="#">Giấy ướt và máy ủ</a></li>
					                <li><a href="#">Bô vệ sinh</a></li>
					                <li><a href="#">Tấm lót chống thấm</a></li>

				                </ul>
                      </li>
			                <li>

                      <a href="#">Bé Khỏe-An toàn</a><span class="fa fa-angle-double-down"></span>
                      <ul class="list-menu">
                        <li><a href="#">Dụng cụ hút mũi</a></li>
                        <li><a href="#">Cao dán hạ sốt</a></li>
                        <li><a href="#">Cho bé uống thuốc</a></li>
                        <li><a href="#">Nhiệt kế cho bé</a></li>
                        <li><a href="#">Kem chống côn trùng</a></li>
                        <li><a href="#">Cân sức khỏe cho bé</a></li>
                        <li><a href="#">Bịt ổ điện</a></li>
                        <li><a href="#">Thực phẩm chức năng</a></li>

                      </ul>
                      </li>
			                <li>
				                <a href="#">Bé đi ra ngoài</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
                          <li><a href="#">Ô, kem chống nắng</a></li>
                          <li><a href="#">Xe đẩy</a></li>
                          <li><a href="#">Địu, đai</a></li>
                          <li><a href="#">Balo</a></li>
                          <li><a href="#">Ghế ngồi xe hơi</a></li>
                          <li><a href="#">Đồ bơi</a></li>
                          <li><a href="#">Kính thời trang</a></li>
                          <li><a href="#">Ghế ngồi xe máy</a></li>

                        </ul>
                      </li>
			                <li>
				                <a href="#">Bé chơi mà học</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
					                <li><a href="#">Đồ chơi sơ sinh</a></li>
					                <li><a href="#">Đồ chơi gỗ</a></li>
					                <li><a href="#">Đồ chơi thông minh</a></li>
					                <li><a href="#">Đồ chơi bé trai</a></li>
					                <li><a href="#">Đồ chơi bé gái</a></li>
					                <li><a href="#">Đồ chơi vận động</a></li>
					                <li><a href="#">Sách, truyện</a></li>

				                </ul>
                      </li>
			                <li>
				                <a href="#">Dành cho mẹ</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
					                <li><a href="#">Mẹ mang thai</a></li>
					                <li><a href="#">Mẹ sau khi sinh</a></li>
					                <li><a href="#">Đồ hút sữa</a></li>
					                <li><a href="#">Sữa bà bầu</a></li>
					                <li><a href="#">Dầu gội, mỹ phẩm</a></li>
					                <li><a href="#">Sách cho mẹ</a></li>
					                <li><a href="#">Giày dép mẹ</a></li>
					                <li><a href="#">Thời trang</a></li>
					                <li><a href="#">Thực phẩm chức năng</a></li>

				                </ul>
                     </li>
			                <li>
				                <a href="#">Đồ dùng gia đình</a><span class="fa fa-angle-double-down"></span>
                        <ul class="list-menu">
					                <li><a href="#">Phòng bếp</a></li>
					                <li><a href="#">Phòng tắm, giặt</a></li>
					                <li><a href="#">Phòng khách</a></li>
					                <li><a href="#">Phòng ngủ</a></li>

				                </ul>
                      </li>
			                <li>
				                <a href="#">Sản phẩm khác</a>
			                </li>
		                </ul>
				</div>
				<img src="https://moki.vn/files/bannerhome/e861a99a5e9f9936516459da3afdbb0b.jpg">
	            <div class="new-brand">
			        <h2> SẢN PHẨM MỚI NHẤT </h2>
		            <div class="new-brand01">
				        <div class="new-brand01-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand01-content">
				        <p> Corset giảm eo</p>
				        <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
			        <div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
		        </div>
				<div class="clear"></div>
				<div class="new-brand">
			        <h2> SẢN PHẨM KHÁC </h2>
		            <div class="new-brand01">
				        <div class="new-brand01-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand01-content">
				        <p> Corset giảm eo</p>
				        <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
			        <div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
					<div class="clear"></div>
					<div class="new-brand02">
				        <div class="new-brand02-img">
				            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
			            </div>
			            <div class="new-brand02-content">
				           <p> Corset giảm eo</p>
				           <h2>650,000đ</h2>
			            </div>
		            </div>
		        </div>
				<img src="https://moki.vn/files/bannerhome/731177de913955e046e5c4ec72089038.jpg">
		    </div>
		    <div class="slider-right">
          <div class="main-image">
            <img src="https://moki.vn/images/images/b%C3%A9%20m%E1%BA%B7c.jpg">
          </div>
          <div class="baby-eat">
            <% list_bean.forEach((Sanpham)=>{%>
          <div class="item1">
            <div class="item1-image">
             <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image/<%=Sanpham.image%>"></a>
            </div>
            <div class="item1-content">
            <p> <%=Sanpham.name%></p>
             <h2><%=Sanpham.price%> </h2>
            </div>
          </div>
          <%})%>
           </div>
           <div class="content">
             <h4>Bé ăn - tình yêu của mẹ gửi trọn cho con qua từng bữa ăn</h4>
            
Tình yêu của cha mẹ giành cho con không bao giờ có giới hạn, dù có bất cứ chuyện gì xảy ra, con luôn là động lực, niềm tin và là chỗ dựa tinh thần cho cha mẹ. Chắc chắn mẹ nào cũng có những câu hỏi thắc mắc như cho bé ăn gì? Ăn như thế nào để con luôn luôn được khỏe mạnh? Điều này không đơn giản chút nào, nhất là đối với những người lần đầu tiên làm mẹ. để chăm sóc cho bé tốt nhất mẹ phải chuẩn bị đầy đủ các loại thức ăn cùng với các đồ dùng phục vụ việc ăn uống của trẻ.
<br>
Đến với Moki, chỉ với những thao tác đơn giản bạn đã có thể tìm được rất nhiều các loại cháo, bánh và sữa bột các loại cho bé, không chỉ vậy đồ dùng phục vụ ăn uống cho bé ở đây cũng rất đa dạng và phong phú.
<br>
<h4>Sữa bột các loại:</h4> Sữa mẹ là tốt nhất cho trẻ sơ sinh và trẻ nhỏ. Tuy nhiên, để cung cấp được nhiều hơn các chất dinh dưỡng cần thiết cho sự phát triển của trẻ, mẹ nên lựa chọn thêm sữa bột các loại để có thể đáp ứng đủ nhu cầu dinh dưỡng cho trẻ. Hiện nay, có rất nhiều loại sữa bột cho mẹ lựa chọn cho cả trẻ sơ sinh đến khi trẻ bắt đầu ăn dặm.
<br>
<h4>Bột, cháo, bánh ăn dặm:</h4> Đối với trẻ từ 4- 6 tháng tuổi trở lên, nhu cầu dinh dưỡng tăng cao, sữa mẹ lúc này không còn đáp ứng đủ, trẻ bước sang giai đoạn ăn dặm. Hiện nay có rất nhiều loại bột, cháo, bánh ăn dặm với những hương vị khác nhau, giúp trẻ có thể làm quen với việc tập ăn, cung cấp chất dinh dưỡng một cách toàn diện nhất cho bé. Tùy theo độ tuổi của con, mẹ hãy lựa chọn những loại thực phẩm ăn dặm phù hợp cho con nhé.
<br>
<h4>Thực phẩm đóng hộp cho bé:</h4> <caption></caption>ó rất nhiều loại thực phẩm đóng hộp khác nhau, giúp cung cấp các vitamin, khoáng chất cho quá trình phát triển của trẻ. Tuy nhiên, khi lựa chọn thực phẩm đóng hộp cho trẻ mẹ chỉ nên mua sản phẩm của những hãng uy tín, chất lượng.
<br>
<h4>Đồ dùng phục vụ ăn uống:</h4> Bên cạnh việc chuẩn bị đầy đủ các loại thức ăn cho bé, đồ dùng phục vụ ăn uống cũng rất cần thiết, giúp công việc của mẹ trở nên dễ dàng hơn, và cũng khiến bé thoải mái hơn rất nhiều khi ăn.
<br>
<h4>Bình sữa và phụ kiện:</h4> Đây là vật dụng mẹ phải chuẩn bị cho bé ngay từ khi lọt lòng.bé sẽ có thể dễ dàng chuyển từ giai đoạn bú mẹ sang bú bình một cách đơn giản với bình sữa và phụ kiện như núm ti, ti giả…không chỉ vậy sản phẩm còn giúp mẹ có thể giữ ấm sữa và các đồ uống cho bé.
<br>
<h4>Ghế ăn bột cho trẻ:</h4> Nhắc đến đồ dùng phục vụ ăn uống cho trẻ không thể bỏ qua ghế ăn bột cho trẻ. Hiện nay, có rất nhiều loại ghế ăn bột với thiết kế khác nhau cho mẹ lựa chọn, từ những loại ghế đơn giản đến những loại có thể rung, lắc, di chuyển để mẹ có thể dễ dàng dỗ, cho bé ăn.
<br>
Đồ ăn và những đồ dùng phục vụ ăn uống cho trẻ rất đa dạng và phong phú, mẹ hãy tìm những địa chỉ mua hàng uy tín để chọn cho con những sản phẩm tốt nhất nhé!
Moki luôn tự hào là nhà cung cấp những sản phẩm chính hãng với giá cả hợp lý đến tay người tiêu dùng, Hãy liên lạc với chúng tôi để đêm ngay bộ sản phẩm ý nghĩa này về với bé nhà bạn nhé.
           </div>

			</div>
		</div>
    <div class="clear"></div>
		<!--End Slider-->
		<!--End Slider-->
        <!--Start delivery-->

        <!--Start footer-->
        <div class="footer">
	        <div class="footer-info">
		        <div class="footer-info1">
			        <p> Hỏi và đáp</p>
		        </div>
		    <div class="footer-info2">
			    <p> Điều khoản sử dụng</p>
		    </div>
		    <div class="footer-info3">
			    <p> Bảo mật thông tin khách hàng</p>
		    </div>
		    <div class="footer-info4">
			    <p> Giải quyết khiếu nại, tranh chấp</p>
		    </div>
		    <div class="footer-info5">
			    <p> Quy chế hoạt động</p>
		    </div>
	    </div>
		<div class="clear"></div>
	    <div class="footer-contact">
		    <div class="footer-contact1">
			    <div class="footer-contact1a">
			        <img src="https://moki.vn/moki/themes/img/logo_big.png">
			        <p>CÔNG TY CỔ PHẦN MOKI
			        <br>
			        Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.
			        <br>
			        Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
			        </p>
			        </div>
			        <div class="footer-contact1b">
			        <p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</p>
				<div class="email">
					<form class="email-form1">
					   <input type="text" placeholder="  Nhập email của bạn" class="text-search"/>
				    </form>
				    <form class="email-form2">
					    <button type="submit" class="email-botton">Đăng ký</button>
				    </form>
				</div>
			</div>
		</div>
		<div class="footer-contact2">
			<h1> LIÊN HỆ</h1>
			<div class="place">
				<div class="place-icon">
					<i class="fa fa-map-marker"></i>
				</div>
				<div class="place-content">
					<h3>TRỤ SỞ CHÍNH:</h3>
					<p>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</p>
					<h3>ĐỊA CHỈ GIAO DỊCH:</h3>
					<p>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
				</div>
			</div>
			<div class="hotline">
				<div class="hotline-icon">
					<i class="fa fa-phone"></i>
				</div>
				<div class="place-content">
					<p>Hotline: 1900.636.779</p>
				</div>
			</div>
			<div class="time">
				<div class="time-icon">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="time-content">
					<p>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</p>
					<p>Thứ 7:8h00 - 12h00</p>
				</div>
			</div>
			<div class="email">
				<div class="email-icon">
				   <i class="fa fa-envelope"></i>
				</div>
				<div class="email-content">
				   <p>hotro@moki.vn</p>
				</div>
			</div>
			<div class="website">
				<div class="website-icon">
					<i class="fa fa-globe"></i>
				</div>
				<div class="website-content">
					<p>www.moki.vn</p>
				</div>
			</div>
		</div>
		<div class="footer-contact3">
			<h1>CÁC DANH MỤC LIÊN KẾT</h1>
		   <ul>
		   <li><a href="#">Miễn phí</a></li>
		   <li><a href="#">Bé ăn</a></li>
		   <li><a href="#">Bé mặc</a></li>
		   <li><a href="#">Bé ngủ</a></li>
		   <li><a href="#">Bé tắm</a></li>
		   <li><a href="#">Bé vệ sinh</a></li>
		   <li><a href="#">Bé Khỏe-An toàn</a></li>
		   <li><a href="#">Bé đi ra ngoài</a></li>
		   <li><a href="#">Bé chơi mà học</a></li>
		   <li><a href="#">Dành cho mẹ</a></li>
		   <li><a href="#">Đồ dùng gia đình</a></li>
		   <li><a href="#">Sản phẩm khác</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<!--End footer-->
       </div>
    </body>
</html>
