<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="/stylesheet/layout-gioithieu.css">
        <link rel="stylesheet" href="/stylesheet/layout-login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/javascript/wow.js"></script>
        <script>
            new WOW().init();
        </script>
    </head>
    <body>
        <!--Start NAV-->
         <div class = "wrap-nav">
                <div class = "header">
                        <div class = "header-content" >
                            <div class= "header-content-left" style="margin-left:4rem">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span >Hotline: 19000091</span>
                            </div>
                            <div class= "header-content-right">
                                <span>Chào mừng bạn đến với Moki</span>
                                <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                                <b>|</b>
                                <span><a href="#">Kiểm tra đơn hàng</a></span>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <b>|</b>
                                <span><a href="#">Giỏ hàng</a></span>
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <b>|</b>
                                <span><a href="#">Đăng nhập</a></span>
                                <span>/</span>
                                <span><a href="#">Đăng ký</a></span>
            
                            </div>
                        </div>
                </div>
        </div>
        <!--END HEADER-->
        
                    

         </div>
         <!--START MAIN LOGIN-->
         <div class = "clear"></div>
         
         <div class = "intro-main">
             <div class = "intro-main-content">
                        <div class = "nav">
                            <div class = "logo-brand">
                                <img src="/image/logo-moki.jpg" alt="logo">
                            </div>
                            <div class = "nav-content-right">
                                <div class = "search-bar">
                                        <form class="search-box" >
                                            <input type="text" placeholder="Nhập sản phẩm bạn muốn tìm.." name="search">
                                            <button type="submit"><span class="fa fa-search"></span></button>
                                        </form>
                                </div>
                                
                                <div class = "nav-bar">
                                    <ul>
                                        <li><a class= "active" href="/">TRANG CHỦ</a></li>
                                        <li><a href="#">GÓC CỦA MẸ</a></li>
                                        <li><a href="/gioithieu">GIỚI THIỆU</a></li>
                                        <li><a href="#">SHOP MOKI</a></li>
                                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                     </ul>
                
                                </div>
                                <div class = "clear"></div>
                            </div>
                        </div>

                    <div class = "intro-content">
                        <div class = "intro-content-left">
                            <img src="/image/phone-hand-moki.png" alt="Handle" style= "width :70%;animation: leftToRight 1.3s linear;" class= "wow">

                        </div>
                        <div class = "intro-content-right">
                            <div style="width:90%;margin : 0px auto;">
                                <img class="wow" src="/image/logo-moki.jpg" alt="Logo-moki" style= "animation: topToBottom 1.3s linear;">
                                <div class="clear"></div>
                                <div style = "margin:1rem 0px;animation: appear 3s linear"><b style ="animation: pressUp 2s linear 3s">MOKI</b><span> = </span><b style ="animation: pressUp 2s linear 5s">MO</b><span>thers + </span><b style ="animation: pressUp 2s linear 7s">KI</b><span>ds</span></div>
                                <p>MOKI - ỨNG DỤNG GIÚP MẸ TRAO ĐỔI ĐỒ CŨ, MỚI SỐ #1 VIỆT NAM</p>
                                <p>Phù hợp với thói quen mua bán của mẹ trong thời gian mang thai, nuôi con nhỏ. </p>
                                <div style = "padding : 1rem;"></div>
                                <div class = "qr-code wow" style= "animation: leftToRight 2s linear;">
                                    <img src="/image/qrcode-moki.png" alt="QRCODE">
                                </div>
                                <div class = "download-app">
                                    <div class= "appstore wow" style="animation: rightToLeft 1s linear;">
                                        <img src="/image/appstore.png" alt="Download-Appstore">
                                    </div>
                                    <div class= "android wow">
                                        <img src="/image/android.png" alt="Download-Android" style="animation: rightToLeft 1.5s linear;">
                                    </div>
                                    <div class= "windows-phone wow">
                                        <img src="/image/windows-phone.png" alt="Download-WindowsPhone" style="animation: rightToLeft 2s linear;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
             </div>
         </div>
         <!--BẮT ĐẦU PHẦN CHỨC NĂNG NỔI BẬT-->

         <div class = "highlight-function">
            <div class= "tin-cay-1">
                 <div class = "tin-cay-left">
                     <h1 class="wow" style="background-color: #ff789e;color:  white; float: right; font-size: 2.7rem; padding : 1rem; margin-top : 0px ;animation: rightToLeft 2s linear;">TÍNH NĂNG</h1>
                     <div style="padding: 8rem 0px;"></div>
                     <h1 class="wow" style = "font-weight: normal; font-size : 3.6rem;float: right;margin-right: 10%;animation: leftToRight 0.5s linear;" class = "wow"><span style="font-size: 7rem">1</span> TIN CẬY</h1>
                     <div class= "clear"></div>
                     <div class= "stick-slide wow"></div>
                     <p style=" float: right; font-size: 1.5rem; color: #303030; font-style: normal; margin-right: 10%;animation: leftToRight 1s linear;">Người bán và người mua có</p>
                     <div class= "clear" style="margin: 0rem 0px;"></div>
                     <p class="wow" style = " float: right; font-size: 1.5rem; color:#ff789e; font-style: normal;margin-right:10%;animation: leftToRight 1s linear;">NHU CẦU THỰC SỰ</p>
                     

                 </div>
                 <div class = "tin-cay-right">
                        <h1 class="wow" style="background-color: white;color:  #ff789e; float: left; font-size: 2.7rem; padding : 1rem; margin-top : 0px ;animation: leftToRight 2s linear;"> NỔI BẬT</h1>
                        <div class="clear"></div>
                        <div style =" margin: 0px auto;">
                                <div class="quy-trinh-kiem-tra">
                                    <div style="padding: 6rem 0px;"></div>
                                    <img class="wow" src="/image/quy-trinh-kiem-tra.png" alt="" style ="margin: 0rem 10%;animation: topToBottom 1s linear;">
                                    <img class="wow" src="/image/quy-trinh-kiem-tra-text.png" alt="" style="animation: rightToLeft 1s linear;">
                                    <div></div>
                                    <img class="wow" src="/image/di-xuong.png" alt="" style = "margin:4rem 18%;animation: topToBottom 1s linear;">
                                </div>
                                <div class="he-thong-danh-gia">
                                    <img class="wow" src="/image/he-thong-danh-gia.png" alt="" style ="margin: 0rem 6%;animation: topToBottom 1s linear;">
                                    <img class="wow" src="/image/he-thong-danh-gia-text.png" alt="" style="animation: rightToLeft 1s linear;">
                                    <div></div>
                                    <img class="wow" src="/image/di-xuong.png" alt=""  style = "margin:4rem 18%;animation: topToBottom 1s linear;">
                                  </div>
                                <div class="kiem-soat-giao-dich">
                                        <img class="wow" src="/image/kiem-soat-giao-dich.png" alt="" style ="margin: 0rem 10%;animation: topToBottom 1s linear;">
                                        <img class="wow" src="/image/kiem-soat-giao-dich-text.png" alt="" style="animation: rightToLeft 1s linear;">
                                        <div style="margin-bottom: 10%"></div> 
                                </div>
                        </div>
                 </div>
             </div>
            <div class = "clear"></div>

            <div class= "tien-loi-2">
                <div class = "tien-loi-left">
                    <div class="tien-loi-mo-ta">
                        <div style="padding: 5rem"></div>
                        <img class="wow" src="/image/moki-tien-loi.png" style="display:block;width:40%;margin-right:8%;float:right;animation: rightToLeft 1s linear;" alt="MOKI TIỆN LỢI">
                        <div style="float:right;width:25%;margin-right:7%">
                                <b class="wow" style="float:right;margin-top:2.5rem;color:#ff789e;animation: leftToRight 1s linear;">MOKI xử lý giúp bạn mọi việc </b>
                                <p class="wow" style="float:right;color:#303030;animation: leftToRight 1.5s linear;">từ shipping, thu tiền. Bạn chỉ cần bật app, theo dõi trạng thái giao hàng, rút tiền trên MOKI</p>
                        </div>
                    </div>
                    <div class ="clear"></div>
                    <div class="tien-loi-detail" >
                        <div class="tien-loi-detail-alpha wow" style= "animation: bottomToTop 2s linear;">
                            <img src="/image/mac-ca.png" alt="" style="width:100%">
                            <p style="text-align: center;">Hỗ trợ chức năng <b style="color: #ff789e">thương lượng, mặc cả</b> mang lại sự thoải mái</p>
                        </div>
                        <div class="tien-loi-detail-alpha wow" style= "animation: topToBottom 2.5s linear;">
                            <img src="/image/anh-video.png" alt="" style="width:100% ;" >
                            <p style="text-align: center;">Hỗ trợ <b style="color: #ff789e">chỉnh sửa ảnh, quay video</b></p>
                        </div>                      
                        <div class="tien-loi-detail-alpha wow" style= "animation: bottomToTop 3s linear;">
                            <img src="/image/voice-search.png" alt="" style="width:100%">
                            <p style="text-align: center;">Hỗ trợ chức năng tìm kiếm và thông báo <b style="color: #ff789e">bằng giọng nói</b></p>
                        </div>
                    </div>
                    <div style="padding-bottom: 7rem"></div>
                </div>
                <div class = "tien-loi-right">
                    <div style="padding: 7rem"></div>
                    <h1 class= "wow" style = "font-weight: normal; font-size : 3.6rem;float: left;margin-left:10%;color:#303030;animation: rightToLeft 0.5s linear;"><span style="font-size: 7rem">2</span> TIỆN LỢI</h1>
                    <div class= "clear"></div>
                    <div class= "stick-slide wow"></div>
                    <p class ="wow" style=" font-size: 1.5rem; color: #303030; font-style: normal; margin-left: 10%;animation: rightToLeft 1s linear;">Đăng bán trong vòng <span style=" font-size: 1.5rem; color: #ffffff; font-style: normal;">2 NỐT NHẠC</span></p>
                </div>
            </div>
            <div class= "clear"></div>
            <div class="khac-biet-3">
                <div class="khac-biet-left">
                    <div style="padding: 6.5rem 0px;"></div>
                    <h1 class="wow" style = "font-weight: normal; font-size : 3.6rem;float: right;margin-right: 10%;animation: leftToRight 0.5s linear;"><span style="font-size: 7rem">3</span> KHÁC BIỆT</h1>
                    <div class= "clear"></div>
                    <div class= "stick-slide wow"></div>
                    <p style=" float: right; font-size: 1.5rem; color: #303030; font-style: normal; margin-right: 10%;animation: leftToRight 1s linear;">Nhiều chức năng bổ trợ</p>
                    <div class= "clear" style="margin: 0rem 0px;"></div>
                    <p style = " float: right; font-size: 1.5rem; color:#ff789e; font-style: normal;margin-right:10%;animation: leftToRight 1.5s linear;">ĐƠN GIẢN NHANH CHÓNG</p>
                </div>
                <div class="khac-biet-right">
                    <div style="padding: 6.5rem 0px;"></div>
                    <div style="margin:0px auto; width:90%">
                        <img class = "wow" src="/image/moki-ket-noi-mom-text.png" alt="" style ="display:block;margin : 0px auto;animation: appear 3.5s linear ">
                        <img class = "wow" src="/image/moki-ket-noi-mom.png" alt="" style="display: block; margin: 0px auto; width: 80%;animation: appear 4s linear ">
                    </div>
                    <div class="clear"></div>
                    <div style="padding: 13% 0px;"></div>
                </div>
            </div>

            <div class="intro-video">
                <p style ="text-align: center;color: #ff789e;font-size: 3rem;animation: topToBottom 1s linear;" class="wow">VIDEO GIỚI THIỆU</p>
                <p style="width: 60%;text-align:center;margin : 2% auto;animation: bottomToTop 1.5s linear;" class = "wow">Có rất nhiều lý do để các bà mẹ sử dụng MOKI. Hãy cùng nghe Ngọc, một bà mẹ trẻ 25 tuổi tiết lộ bí quyết dùng MOKI để mua sắm thông thái và tiết kiệm tiền khi nuôi con nhé.</p>
                <video width="60%" style="display:block;margin : 0px auto;animation: appear 1s linear;" controls class = "wow">
                        <source src="./video/intro-video.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                <div style="padding: 4rem 0px;"></div>
            </div>

            <div class="moki-mission background-common-pink">
                <p class="wow" style="font-size: 3rem;text-align:center;color: #ffffff;animation: topToBottom 1s linear;">SỨ MỆNH CỦA MOKI</p>
                <p class="wow" style="width:50%;text-align:center;margin:0px auto; color:#ffffff";animation: bottomToTop 1.5s linear;>MOKI mang đến những trải nghiệm mua sắm thú vị và hấp dẫn cho mọi người trong từng phân khúc thị trường. Chúng tôi cùng với các đối tác chiến lược vận dụng các kiến thức và kinh nghiệm sẵn có của các bên cộng với sự thấu hiểu về thị trường qua các quá trình nghiên cứu và phân tích để cho ra đời, phát triển và vận hành hệ thống siêu thị và các cửa hàng tiện lợi, các tiệm ăn nhanh, khu mua sắm phức hợp và chuỗi nhà hàng.</p>
                <div style="padding: 3.5rem 0px;"></div>
            </div>

            <div class="moki-talked-news background-common-pattern">
                <p class="wow" style ="text-align: center;color: #ff789e;font-size: 3rem; animation: leftToRight 0.5s linear;">BÁO CHÍ NÓI VỀ MOKI</p>
                <div class="main-news wow" style="animation: leftToRight 1.5s linear;">
                    <div class="news-alpha">
                        <div class="news-thumb-image">
                            <img src="/image/news-thumb-image-alpha.jpg" alt="" style="width:100%">
                        </div>
                        <div class="news-thumb-highlight">
                            <div style="margin: 2rem auto;"><a href="" style="text-decoration: none;color:#ff789e">Tin tức MOKI</a><span> | 10/10/2018</span></div>
                            <h1>MOKI - Ứng dụng giúp các mẹ trao đổi đồ trên kênh VTC1 - Sống kết nối, phát sóng ngày 22/06/2017</h1>
                            <p>“Làm vợ, làm mẹ được đánh giá là một trong những công việc vất vả và có mức lương thấp nhất trên thế giới hiện nay”. Quả thực, đây không chỉ là 1 thiên chức của người phụ nữ mà còn là sự đánh đổi của những hy sinh, những trách nhiệm âm thầm mà không phải lúc nào cũng được người khác đánh giá và nhìn nhận đúng mức....</p>
                            <div style="padding: 2rem 0px;"></div>
                        </div>
                        <div class="news-social">
                            <div style = "float:left;margin:1rem">
                                <i class="fa fa-heart"> 696</i>
                                <i class="fa fa-comments">124</i>
                            </div>
                            <div style="float: right;margin:1rem">
                                <i class="fa fa-google-plus-square"></i>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-twitter-square"></i>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="more-news">
                    <div class="news-alpha news-beta wow" style="margin-bottom: 0.5rem;animation: topToBottom 1.5s linear;">
                                <div class="news-thumb-image">
                                    <img src="/image/news-thumb-image-alpha.jpg" alt="" style="width:100%">
                                </div>
                                <div class="news-thumb-highlight">
                                    <div style="margin: 5px auto;"><a href="" style="text-decoration: none;color:#ff789e">Tin tức MOKI</a><span> | 10/10/2018</span></div>
                                    <h4>MOKI - Ứng dụng giúp các mẹ trao đổi đồ ...</h4>
                                    <p>“Làm vợ, làm mẹ được đánh giá là một trong những công việc...</p>
                                </div>
                                <div class="news-social">
                                    <div style = "float:left;margin:1rem">
                                        <i class="fa fa-heart"> 696</i>
                                        <i class="fa fa-comments">124</i>
                                    </div>
                                    <div style="float: right;margin:1rem">
                                        <i class="fa fa-google-plus-square"></i>
                                        <i class="fa fa-facebook-square"></i>
                                        <i class="fa fa-twitter-square"></i>
                                    </div>
                                </div>
                                <div class="clear"></div>
                    </div>
                    <div class="news-alpha news-beta wow" style="margin-bottom: 0.5rem; animation: rightToLeft 1.5s linear;">
                            <div class="news-thumb-image" >
                                <img src="/image/news-thumb-image-alpha.jpg" alt="" style="width:100%">
                            </div>
                            <div class="news-thumb-highlight">
                                <div style="margin: 5px auto;"><a href="" style="text-decoration: none;color:#ff789e">Tin tức MOKI</a><span> | 10/10/2018</span></div>
                                <h4>MOKI - Ứng dụng giúp các mẹ trao đổi đồ ...</h4>
                                <p>“Làm vợ, làm mẹ được đánh giá là một trong những công việc...</p>
                            </div>
                            <div class="news-social">
                                <div style = "float:left;margin:1rem">
                                    <i class="fa fa-heart"> 696</i>
                                    <i class="fa fa-comments">124</i>
                                </div>
                                <div style="float: right;margin:1rem">
                                    <i class="fa fa-google-plus-square"></i>
                                    <i class="fa fa-facebook-square"></i>
                                    <i class="fa fa-twitter-square"></i>
                                </div>
                            </div>
                            <div class="clear"></div>
                    </div>
                    <div class="news-alpha news-beta wow" style="margin-top: 0.5rem;animation: leftToRight 1.5s linear;">
                            <div class="news-thumb-image">
                                <img src="/image/news-thumb-image-alpha.jpg" alt="" style="width:100%">
                            </div>
                            <div class="news-thumb-highlight">
                                <div style="margin: 5px auto;"><a href="" style="text-decoration: none;color:#ff789e">Tin tức MOKI</a><span> | 10/10/2018</span></div>
                                <h4>MOKI - Ứng dụng giúp các mẹ trao đổi đồ ...</h4>
                                <p>“Làm vợ, làm mẹ được đánh giá là một trong những công việc...</p>
                            </div>
                            <div class="news-social">
                                <div style = "float:left;margin:1rem">
                                    <i class="fa fa-heart"> 696</i>
                                    <i class="fa fa-comments">124</i>
                                </div>
                                <div style="float: right;margin:1rem">
                                    <i class="fa fa-google-plus-square"></i>
                                    <i class="fa fa-facebook-square"></i>
                                    <i class="fa fa-twitter-square"></i>
                                </div>
                            </div>
                            <div class="clear"></div>
                    </div>
                    <div class="news-alpha news-beta wow" style="margin-top: 0.5rem;animation: bottomToTop 1.5s linear;">
                            <div class="news-thumb-image">
                                <img src="/image/news-thumb-image-alpha.jpg" alt="" style="width:100%">
                            </div>
                            <div class="news-thumb-highlight">
                                <div style="margin: 5px auto;"><a href="" style="text-decoration: none;color:#ff789e">Tin tức MOKI</a><span> | 10/10/2018</span></div>
                                <h4>MOKI - Ứng dụng giúp các mẹ trao đổi đồ ...</h4>
                                <p>“Làm vợ, làm mẹ được đánh giá là một trong những công việc...</p>
                            </div>
                            <div class="news-social">
                                <div style = "float:left;margin:1rem">
                                    <i class="fa fa-heart"> 696</i>
                                    <i class="fa fa-comments">124</i>
                                </div>
                                <div style="float: right;margin:1rem">
                                    <i class="fa fa-google-plus-square"></i>
                                    <i class="fa fa-facebook-square"></i>
                                    <i class="fa fa-twitter-square"></i>
                                </div>
                            </div>
                            <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!--END BAO CHI NOI VE MOKI-->
            <!--START TAI UNG DUNG-->
            <div class="download-app-intro background-common-pink">
                <div class="download-app-intro-left">
                    <div style="padding-top:4rem;"></div>
                    <img src="/image/iphone-moki-app.png" class="wow" alt="" style="display:block;margin : 0px auto;width:60%;animation: leftToRight 1.5s linear;">
                </div>
                <div class="download-app-intro-right">
                    <div style="padding-top: 4rem;"></div>
                    <p class="wow" style="color:#ffffff;font-size:3rem;text-align: center;animation: topToBottom 1.5s linear;">TẢI ỨNG DỤNG</p>
                    <p style ="color: #ffffff; text-align:center;margin: 2rem auto ; width: 60%;opacity: 0.7;font-size:1.2rem">Download MOKI về để trở thành bà mẹ thông thái, mua hàng tốt giá hợp lý, bán hàng được giá và tham gia chia sẻ, kết nối với các bà mẹ bỉm sữa khác.</p>
                    <div style="margin : 0px auto">
                        <div class = "qr-code wow" style="animation: bottomToTop 3s linear;">
                            <img src="/image/qrcode-moki.png" alt="QRCODE">
                        </div>
                        <div class = "download-app" style="animation: rightToLeft 2s linear;">
                            <div class= "appstore ">
                                <img src="/image/appstore.png" alt="Download-Appstore">
                            </div>
                            <div class= "android" style="animation: leftToRight 2.5s linear;">
                                    <img src="/image/android.png" alt="Download-Android">
                            </div>
                            <div class= "windows-phone" style="animation: rightToLeft 3s linear;">
                                <img src="/image/windows-phone.png" alt="Download-WindowsPhone">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--END TAI UNG DUNG-->


        </div>

        <!--Start of Tawk.to Script-->
        <div class="subiz-chat">
            <!-- Subiz -->
        <script>
        (function(s, u, b, i, z){
          u[i]=u[i]||function(){
            u[i].t=+new Date();
            (u[i].q=u[i].q||[]).push(arguments);
          };
          z=s.createElement('script');
          var zz=s.getElementsByTagName('script')[0];
          z.async=1; z.src=b; z.id='subiz-script';
          zz.parentNode.insertBefore(z,zz);
        })(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
        subiz('setAccount', 'acqdtjtqwwybnljafmrr');
        </script>
        <!-- End Subiz -->
        </div>
        <!--End of Tawk.to Script-->
    </body>

























    <footer style="font-family: Arial, Helvetica, sans-serif;color:#676767; padding: 3rem;">
        <div class="company-info contact-alpha">
            <img src="./image/logo-moki.jpg" alt="MOKI-Giúp các mẹ trao đổi" style="display:block;margin: 0px auto; width: 40%;margin-top: 2rem">
            <p>CÔNG TY CỔ PHẦN MOKI</p>
            <p>Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.</p>
            <p>Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.</p>
            <hr>
            <p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</p></p>
            <form action="">
                <input type="text" name="" id="promotion-register-text" placeholder="Nhập email của bạn">
                <input type="button" value="Đăng ký" id="promotion-register-submit"> 
            </form>
        </div>
        <div class="company-address contact-alpha">
                <h1> Liên hệ</h1>	
                <div class="location-content">
                        <h3><i class="fa fa-map-marker"></i>TRỤ SỞ CHÍNH:</h3>
                        <p>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</p>
                        <h3>ĐỊA CHỈ GIAO DỊCH:</h3>
                        <p>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
                </div>
                <div class="hotline">
                    <p><i class="fa fa-phone"></i>Hotline: 1900.636.779</p>
                </div>
                <div class="time">
                    <div class="time-content">
                        <p><i class="fa fa-clock-o"></i>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</p>
                        <p>Thứ 7:8h00 - 12h00</p>
                    </div>
                </div>
                <div class="email">
                    <p><i class="fa fa-envelope"></i>hotro@moki.vn</p>
                </div>
                <div class="website">
                    <p><i class="fa fa-globe"></i>www.moki.vn</p>
                </div>
        </div>
        <div class="more-links contact-alpha">
                <h1>Các danh mục liên kết</h1>
                <div style="overflow-y: scroll; height: 267px">
                <ul >
                <li><a href="#">Miễn phí</a></li>
                <li><a href="#">Bé ăn</a></li>
                <li><a href="#">Bé mặc</a></li>
                <li><a href="#">Bé ngủ</a></li>
                <li><a href="#">Bé tắm</a></li> 
                <li><a href="#">Bé vệ sinh</a></li>   
                <li><a href="#">Bé Khỏe-An toàn</a></li> 
                <li><a href="#">Bé đi ra ngoài</a></li> 
                <li><a href="#">Bé chơi mà học</a></li>     
                <li><a href="#">Dành cho mẹ</a></li> 	   
                <li><a href="#">Đồ dùng gia đình</a></li>    
                <li><a href="#">Sản phẩm khác</a></li> 
                </ul>
                </div>
                <div>
                    <img src="./image/da-dang-ky.png" alt="" style="width:45%;float:left">
                    <img src="./image/da-dang-ky.png" alt="" style="width:45%;float:left">
                </div>
        </div>
    </footer>
</html>