<!DOCTYPE html>

<html>

<head>
    <title>MOKI - Ứng dụng giúp các mẹ trao đổi, mua bán đồ | moki.vn</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/stylesheet/layout-gioithieu.css">
    <link rel="stylesheet" href="/stylesheet/layout-login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://moki.vn/images/favicons/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript/wow.js"></script>
    <script src="/javascript/jquery.js"></script>
    <script>
        new WOW().init();
    </script>
    <script>
        $(document).ready(function () {

            $("#login").click(() => {
                var id = $('#id').val()
                var password = $('#password').val()
                var dataMap = {
                    'phonenumber': id,
                    'password': password
                }

                $.ajax({
                    url: '/api/login',
                    contentType: "application/json",
                    method: 'POST',
                    data: JSON.stringify(dataMap),
                    dataType: 'json',
                    //headers: {"Authorization": localStorage.getItem('token')}   
                })
                    .done((data) => {
                        $("#result").html("<h1>" + data.code + "</h1>")
                        $("#result").html("<h2>" + data.message + "</h2>")
                        localStorage.data = JSON.stringify(data)
                        if (data.code == 1000) {
                            window.location.replace("/");//bằng cách GET ra link trống, sau đó dùng ajax -> POST lấy kết quả và chèn vào
                        }
                    })
                // $('#result').html("<h2>" + localStorage.data + "</data>")
            })

            $("#demosto").click(() => {
                document.getElementById("demo").innerHTML = localStorage.data
                console.log("HELLO")
            })
        });
    </script>
</head>

<body>
    <!--Start Header-->
    <div class="wrap">
        <div class="header">
            <div class="header-content">
                <div class="header-content-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Hotline: 19000091</span>
                </div>
                <div class="header-content-right">
                    <span>Chào mừng bạn đến với Moki</span>
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Kiểm tra đơn hàng</a></span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Giỏ hàng</a></span>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="/login">Đăng nhập</a></span>
                    <span>/</span>
                    <span><a href="/signup">Đăng ký</a></span>

                </div>
            </div>
        </div>
        <!--END HEADER-->
        <!--START NAV-->
        <div class="nav">
            <div class="logo-brand">
                <img src="https://moki.vn/moki/themes/img/logo_medium.png" alt="logo">
            </div>
            <div class="nav-content-right">
                <div class="search-bar" style="margin-left: 50px;position:relative;">
                    <form class="search-box">
                        <input type="text" placeholder="Nhập sản phẩm bạn muốn tìm.." name="search">
                        <button type="submit" style="position: absolute; margin-left: -65px; margin-top: 1px;border: none;"><i
                                class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="nav-bar">
                    <ul>
                        <li><a class="active" href="/">TRANG CHỦ</a></li>
                        <li><a href="#">GÓC CỦA MẸ</a></li>
                        <li><a href="/gioithieu">GIỚI THIỆU</a></li>
                        <li><a href="#">SHOP MOKI</a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>

                </div>
                <div class="clear"></div>
            </div>
            <hr>
        </div>

    </div>
    <!--START MAIN LOGIN-->
    <!--START MAIN LOGIN-->
    <div class="clear"></div>
    <div class="login-nav">
        <div class="login-nav-content">
            <ul>
                <li><a href="#">1. Đăng nhập >></a></li>
                <li><a href="#">2. Chọn địa chỉ >></a></li>
                <li><a href="#">2. Thanh toán >></a></li>
                <li><a href="#">4. Xác nhận >></a></li>
                <li><a href="#">5. Hoàn thành >></a></li>
            </ul>
        </div>
    </div>

    <div class="login-main">
        <div class="login-main-content">
            <h4>Đăng nhập tài khoản MOKI ở đây</h4>
            <div id="result"></div>
            <hr>
            <div class="login-view">
                <div class="login-view-content">
                    <form id="loginForm" method="POST"accept-charset="utf-8">
                        <label>Số điện thoại</label>
                        <input type="text" id="id" name="phonenumber" placeholder="Số điện thoại..">
                        <label>Mật khẩu</label>
                        <input type="password" id="password" name="password" placeholder="Mật khẩu..">
                        
                        <label for="already-have-acc"><input type="radio" name="check-account">Đã có tài khoản, Đăng nhập</label>
                        <label for="no-have-acc"><input type="radio" name="check-account">Chưa có tài khoản, Đăng ký</label>
                        <a href="#" style="color : #e1e1e1; float : right; padding : 5px 0px;">Quên mật khẩu?</a>
                        
                        
                    </form>
                    <input type="submit" value="Đăng nhập" id="login">
                    
                </div>


            </div>

        </div>
    </div>
</body>

<footer style="font-family: Arial, Helvetica, sans-serif;color:#676767; padding: 3rem;">
    <div class="company-info contact-alpha">
        <img src="./image/logo-moki.jpg" alt="MOKI-Giúp các mẹ trao đổi" style="display:block;margin: 0px auto; width: 40%;margin-top: 2rem">
        <p>CÔNG TY CỔ PHẦN MOKI</p>
        <p>Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.</p>
        <p>Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.</p>
        <hr>
        <p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</p>
        </p>
        <form action="">
            <input type="text" name="" id="promotion-register-text" placeholder="Nhập email của bạn">
            <input type="button" value="Đăng ký" id="promotion-register-submit">
        </form>
    </div>
    <div class="company-address contact-alpha">
        <h1> Liên hệ</h1>
        <div class="location-content">
            <h3><i class="fa fa-map-marker"></i>TRỤ SỞ CHÍNH:</h3>
            <p>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</p>
            <h3>ĐỊA CHỈ GIAO DỊCH:</h3>
            <p>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
        </div>
        <div class="hotline">
            <p><i class="fa fa-phone"></i>Hotline: 1900.636.779</p>
        </div>
        <div class="time">
            <div class="time-content">
                <p><i class="fa fa-clock-o"></i>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</p>
                <p>Thứ 7:8h00 - 12h00</p>
            </div>
        </div>
        <div class="email">
            <p><i class="fa fa-envelope"></i>hotro@moki.vn</p>
        </div>
        <div class="website">
            <p><i class="fa fa-globe"></i>www.moki.vn</p>
        </div>
    </div>
    <div class="more-links contact-alpha">
        <h1>Các danh mục liên kết</h1>
        <div style="overflow-y: scroll; height: 267px">
            <ul>
                <li><a href="#">Miễn phí</a></li>
                <li><a href="#">Bé ăn</a></li>
                <li><a href="#">Bé mặc</a></li>
                <li><a href="#">Bé ngủ</a></li>
                <li><a href="#">Bé tắm</a></li>
                <li><a href="#">Bé vệ sinh</a></li>
                <li><a href="#">Bé Khỏe-An toàn</a></li>
                <li><a href="#">Bé đi ra ngoài</a></li>
                <li><a href="#">Bé chơi mà học</a></li>
                <li><a href="#">Dành cho mẹ</a></li>
                <li><a href="#">Đồ dùng gia đình</a></li>
                <li><a href="#">Sản phẩm khác</a></li>
            </ul>
        </div>
        <div>
            <img src="./image/da-dang-ky.png" alt="" style="width:45%;float:left">
            <img src="./image/da-dang-ky.png" alt="" style="width:45%;float:left">
        </div>
    </div>
</footer>

</html>