<html !DOCTYPE>
<html>

<head>
	<title>MOKI - Ứng dụng giúp các mẹ trao đổi, mua bán đồ | moki.vn</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../stylesheet/layoutv2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="https://moki.vn/images/favicons/favicon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
</head>

<body>
		<script>

				// var socket = io.connect('http://localhost:3000')
				$(document).ready(function () {
		
		
					var getdata = localStorage.getItem("data")
					data = JSON.parse(getdata)
					if (data != undefined) {
						document.getElementById("greeting").innerHTML = "Hello " + data.data[0].username//localStorage.data
					}
					//console.log("HELLO")
		
				});
			</script>
	<!--Start Header-->
	<div class="wrap">
		<div class="header">
			<div class="header-content">
				<div class="header-content-left">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<span>Hotline: 19000091</span>
				</div>
				<div class="header-content-right">
					<span>Chào mừng bạn đến với MOKI</span>
					<i class="fa fa-flag-checkered" aria-hidden="true"></i>
					<b>|</b>
					<span><a href="#">Kiểm tra đơn hàng</a></span>
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<b>|</b>
					<span><a href="#">Giỏ hàng</a></span>
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					<b>|</b>
					<span id="greeting">
							<span><a href="/login">Đăng nhập</a></span>
							<span>/</span>
							<span><a href="/signup">Đăng ký</a></span>
						</span>

				</div>
			</div>
		</div>
		<!--END HEADER-->
		<!--START NAV-->
		<div class="nav">
			<div class="logo-brand">
				<img src="https://moki.vn/moki/themes/img/logo_medium.png" alt="logo">
			</div>
			<div class="nav-content-right">
				<div class="search-bar" style="margin-left: 50px;position:relative;">
					<form class="search-box" method="post" action="/search">
						<input type="text" placeholder="Nhập sản phẩm bạn muốn tìm.." name="search">
						<button type="submit" style="position: absolute; margin-left: -85px; margin-top: 2px;border: none;"><i class="fa fa-search"></i></button>
					</form>
				</div>
				<div class="nav-bar">
					<ul>
						<li><a class="active" href="/">TRANG CHỦ</a></li>
						<li><a href="#">GÓC CỦA MẸ</a></li>
						<li><a href="/gioithieu">GIỚI THIỆU</a></li>
						<li><a href="#">SHOP MOKI</a></li>
						<li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
			<hr>
		</div>
		<!--End of niv-->
		<!--Start Slider-->
		<div class="slider">
			<div class="slider-left">
				<div id="AlphaNav" class="slider-list">
					<i class="fa fa-list-ul"> DANH MỤC SẢN PHẨM</i>
					<ul>
						<li><a href="https://moki.vn/Mien-Phi-302.html">Miễn phí</a></li>
						<li><a href="/bean">Bé ăn</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Ghe-an-bot-cho-be-72.html">Ghế ăn bột cho bé</a></li>
								<li><a href="https://moki.vn/Binh-sua-va-phu-kien-73.html">Bình sữa và phụ kiện</a></li>
								<li><a href="https://moki.vn/Sua-bot-cac-loai-74.html">Sữa bột các loại</a></li>
								<li><a href="https://moki.vn/Bot-Chao-Banh-an-dam-75.html">Bột, cháo ăn dặm</a></li>
								<li><a href="https://moki.vn/Do-dung-phuc-vu-an-uong-76.html">Đồ dùng ăn uống</a></li>
								<li><a href="https://moki.vn/Thuc-pham-dong-hop-cho-be-77.html">Thực phẩm đóng hộp</a></li>
							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-mac-39.html">Bé mặc</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Giay-dep-cho-be-40.html">Giày dép cho bé</a></li>
								<li><a href="https://moki.vn/Mu-thoi-trang-41.html">Mũ thời trang</a></li>
								<li><a href="https://moki.vn/Mu-thoi-trang-41.html">Đồ sơ sinh</a></li>
								<li><a href="https://moki.vn/Phu-kien-thoi-trang-khac-50.html">Phụ kiện thời trang</a></li>
								<li><a href="https://moki.vn/Thoi-trang-cho-be-51.html">Thời trang cho bé</a></li>
							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-ngu-268.html">Bé ngủ</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Giuong-ngu-giuong-tang-269.html">Giường ngủ</a></li>
								<li><a href="https://moki.vn/Noi-xach-em-be-270.html">Nôi sách em bé</a></li>
								<li><a href="https://moki.vn/Chan-dem-chieu-goi-271.html">Chăn ga, gối đệm</a></li>
								<li><a href="https://moki.vn/Bo-quay-cui-276.html">Bộ quây cũi</a></li>
								<li><a href="https://moki.vn/Noi-dien-tu-dong-277.html">Nôi điện tự động</a></li>
								<li><a href="https://moki.vn/Cui-cho-be-278.html">Cũi cho bé</a></li>
								<li><a href="https://moki.vn/Ghe-rung-cho-be-279.html">Ghế rung cho bé</a></li>
								<li><a href="https://moki.vn/Chan-giuong-280.html">Chặn giường</a></li>
								<li><a href="https://moki.vn/Noi-ngu-chung-giuong-281.html">Nôi ngủ chung giường</a></li>
								<li><a href="https://moki.vn/Den-ngu-may-bao-khoc-ru-ngu-282.html">Đèn ngủ</a></li>
							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-tam-232.html">Bé tắm</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Chau-tam-va-phu-kien-233.html">Chậu tắm và phụ kiện</a></li>
								<li><a href="https://moki.vn/Do-nhiet-do-tam-cho-be-234.html">Đo nhiệt độ tắm </a></li>
								<li><a href="https://moki.vn/Khan-mat-Khan-tam-cho-be-235.html">Khăn mặt, khăn tắm</a></li>
								<li><a href="https://moki.vn/Do-choi-khi-tam-236.html">Đồ chơi khi tắm</a></li>
								<li><a href="https://moki.vn/Sua-tam-dau-goi-237.html">Sữa tắm,dầu gội dầu</a></li>
								<li><a href="https://moki.vn/Mu-chan-nuoc-238.html">Mũ chắn nước</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-ve-sinh-54.html">Bé vệ sinh</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Ve-sinh-toc-tai-tay-chan-rang-mieng-55.html">Vệ sinh cá nhân</a></li>
								<li><a href="https://moki.vn/Kem-ham-duong-da-phan-rom-62.html">Kem hăm, dưỡng da</a></li>
								<li><a href="https://moki.vn/Bim-va-ta-giay-cho-be-67.html">Bỉm và tã giấy</a></li>
								<li><a href="https://moki.vn/Giay-uot-va-may-u-giay-uot-68.html">Giấy ướt và máy ủ</a></li>
								<li><a href="https://moki.vn/Bo-ve-sinh-nap-toilet-69.html">Bô vệ sinh</a></li>
								<li><a href="https://moki.vn/Tam-lot-chong-tham-70.html">Tấm lót chống thấm</a></li>

							</ul>
						</li>
						<li>

							<a href="https://moki.vn/Be-khoe---an-toan-160.html">Bé Khỏe-An toàn</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Dung-cu-hut-mui-161.html">Dụng cụ hút mũi</a></li>
								<li><a href="https://moki.vn/Cao-dan-ha-sot-dau-boi-162.html">Cao dán hạ sốt</a></li>
								<li><a href="https://moki.vn/Cho-be-uong-thuoc-163.html">Cho bé uống thuốc</a></li>
								<li><a href="https://moki.vn/Nhiet-ke-cho-be-164.html">Nhiệt kế cho bé</a></li>
								<li><a href="https://moki.vn/Kem-chong-con-trung-165.html">Kem chống côn trùng</a></li>
								<li><a href="https://moki.vn/Can-suc-khoe-cho-be-166.html">Cân sức khỏe cho bé</a></li>
								<li><a href="https://moki.vn/Bit-o-dien-Bit-goc-ban-va-chan-cua-167.html">Bịt ổ điện</a></li>
								<li><a href="https://moki.vn/Tra-vitamin-va-thuc-pham-chuc-nang-cho-be-168.html">Thực phẩm chức năng</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-di-ra-ngoai-239.html">Bé đi ra ngoài</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/O-ao-mua-kem-chong-nang-cho-be-240.html">Ô, kem chống nắng</a></li>
								<li><a href="https://moki.vn/Xe-day-cho-be-241.html">Xe đẩy</a></li>
								<li><a href="https://moki.vn/Diu-dai-cac-loai-242.html">Địu, đai</a></li>
								<li><a href="https://moki.vn/Ba-lo-cap-tui-cho-be-243.html">Balo</a></li>
								<li><a href="https://moki.vn/Ghe-ngoi-xe-hoi-244.html">Ghế ngồi xe hơi</a></li>
								<li><a href="https://moki.vn/Do-boi-kinh-boi-cua-be-245.html">Đồ bơi</a></li>
								<li><a href="https://moki.vn/Kinh-thoi-trang-246.html">Kính thời trang</a></li>
								<li><a href="https://moki.vn/Ghe-ngoi-xe-dap-xe-may-247.html">Ghế ngồi xe máy</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Be-choi-ma-hoc-172.html">Bé chơi mà học</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Do-choi-be-so-sinh-173.html">Đồ chơi sơ sinh</a></li>
								<li><a href="https://moki.vn/Do-choi-go-180.html">Đồ chơi gỗ</a></li>
								<li><a href="https://moki.vn/Do-choi-thong-minh-181.html">Đồ chơi thông minh</a></li>
								<li><a href="https://moki.vn/Do-choi-be-trai-185.html">Đồ chơi bé trai</a></li>
								<li><a href="https://moki.vn/Do-choi-be-gai-189.html">Đồ chơi bé gái</a></li>
								<li><a href="https://moki.vn/Do-choi-van-dong-192.html">Đồ chơi vận động</a></li>
								<li><a href="https://moki.vn/Sach-truyen-cho-be-203.html">Sách, truyện</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Danh-cho-Me-206.html">Dành cho mẹ</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Me-mang-thai-207.html">Mẹ mang thai</a></li>
								<li><a href="https://moki.vn/Me-sau-khi-sinh-216.html">Mẹ sau khi sinh</a></li>
								<li><a href="https://moki.vn/Hut-sua-va-phu-kien-223.html">Đồ hút sữa</a></li>
								<li><a href="https://moki.vn/Sua-ba-bau-224.html">Sữa bà bầu</a></li>
								<li><a href="https://moki.vn/Dau-goi-My-pham-225.html">Dầu gội, mỹ phẩm</a></li>
								<li><a href="https://moki.vn/Sach-cho-me-228.html">Sách cho mẹ</a></li>
								<li><a href="https://moki.vn/Giay-dep-cho-me-229.html">Giày dép mẹ</a></li>
								<li><a href="https://moki.vn/Thoi-trang-cho-me-230.html">Thời trang</a></li>
								<li><a href="https://moki.vn/Tra-vitamin-va-thuc-pham-chuc-nang-231.html">Thực phẩm chức năng</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/Do-dung-gia-dinh-248.html">Đồ dùng gia đình</a><span class="fa fa-angle-double-down"></span>
							<ul class="list-menu">
								<li><a href="https://moki.vn/Phong-bep-249.html">Phòng bếp</a></li>
								<li><a href="https://moki.vn/Phong-tam-giat-251.html">Phòng tắm, giặt</a></li>
								<li><a href="https://moki.vn/Phong-khach-257.html">Phòng khách</a></li>
								<li><a href="https://moki.vn/Phong-ngu-261.html">Phòng ngủ</a></li>

							</ul>
						</li>
						<li>
							<a href="https://moki.vn/San-pham-khac-297.html">Sản phẩm khác</a>
						</li>
					</ul>
				</div>
				<img src="https://moki.vn/files/bannerhome/e861a99a5e9f9936516459da3afdbb0b.jpg">

				<div class="clear"></div>

				<img src="https://moki.vn/files/bannerhome/731177de913955e046e5c4ec72089038.jpg">
			</div>
			<div class="slider-right">
				<div class="title-sp">
					<h1 style="text-align:center; color:#ff789e">KẾT QUẢ TÌM KIẾM SẢN PHẨM</h1>
				</div>
				<div style="padding-left: 50px;" class="cuon-1" id=" frame-1">
					<table class="table-listproduct">
						<tr class="table-listproduct">
							<% if(list_Sanpham.length==0){%>
							<h2>Không tìm thấy sản phẩm </h2>

							<% } else {list_Sanpham.forEach((Sanpham)=>{%>
							<th style="display:inline-block; padding-left:30px;" class="table-listproduct">
								<a href="/chitietsp/<%- Sanpham.image%>"><img id="0" src="/image/<%= Sanpham.image%>" width="250px" height="250px"></a><br>
								<span class="ten" id="ten-1">
									<%= Sanpham.name%></span><br>
								<span style="color:#ff789e; font-size: 28px;" class="gia" id="gia-1">
									<%= Sanpham.price%></span><br>
							</th>
							<% })} %>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--End Slider-->
		<!--End Slider-->
		<!--Start delivery-->
		<div class="delivery">
			<div class="free-delivery">
				<div class="free-delivery-image">
					<img src="https://wolfgaming.org/wp-content/uploads/2016/02/Delivery-Icon.png">
				</div>
				<div class="free-delivery-content">
					<h1>Free Delivery</h1>
					<p>Maecenas imperdiet sagittis enim</p>
				</div>
			</div>
			<div class="days-free-returns">
				<div class="days-free-returns-image">
					<img src="https://png.icons8.com/metro/1600/overtime.png">
				</div>
				<div class="days-free-returns-content">
					<h1>Days Free Returns</h1>
					<p>Maecenas imperdiet sagittis enim</p>
				</div>
			</div>
			<div class="cash-on-delivery">
				<div class="cash-on-delivery-image">
					<img src="https://cdn1.iconfinder.com/data/icons/finance-vol-3/48/145-512.png">
				</div>
				<div class="cash-on-delivery-content">
					<h1>Cash On Delivery</h1>
					<p>Maecenas imperdiet sagittis enim</p>
				</div>
			</div>
		</div>

		<!--End delivery-->
		<!--Start footer-->
		<div class="footer">
			<div class="footer-info">
				<div class="footer-info1">
					<p> Hỏi và đáp</p>
				</div>
				<div class="footer-info2">
					<p> Điều khoản sử dụng</p>
				</div>
				<div class="footer-info3">
					<p> Bảo mật thông tin khách hàng</p>
				</div>
				<div class="footer-info4">
					<p> Giải quyết khiếu nại, tranh chấp</p>
				</div>
				<div class="footer-info5">
					<p> Quy chế hoạt động</p>
				</div>
			</div>
			<div class="clear"></div>
			<div class="footer-contact">
				<div class="footer-contact1">
					<div class="footer-contact1a">
						<img src="https://moki.vn/moki/themes/img/logo_big.png">
						<p>CÔNG TY CỔ PHẦN MOKI
							<br>
							Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.
							<br>
							Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
						</p>
					</div>
					<div class="footer-contact1b">
						<p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</p>
						<div class="email">
							<form class="email-form1">
								<input type="text" placeholder="  Nhập email của bạn" class="text-search" />
							</form>
							<form class="email-form2">
								<button type="submit" class="email-botton">Đăng ký</button>
							</form>
						</div>
					</div>
				</div>
				<div class="footer-contact2">
					<h1> LIÊN HỆ</h1>
					<div class="place">
						<div class="place-icon">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="place-content">
							<h3>TRỤ SỞ CHÍNH:</h3>
							<p>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</p>
							<h3>ĐỊA CHỈ GIAO DỊCH:</h3>
							<p>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
						</div>
					</div>
					<div class="hotline">
						<div class="hotline-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="place-content">
							<p>Hotline: 1900.636.779</p>
						</div>
					</div>
					<div class="time">
						<div class="time-icon">
							<i class="fa fa-clock-o"></i>
						</div>
						<div class="time-content">
							<p>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</p>
							<p>Thứ 7:8h00 - 12h00</p>
						</div>
					</div>
					<div class="email">
						<div class="email-icon">
							<i class="fa fa-envelope"></i>
						</div>
						<div class="email-content">
							<p>hotro@moki.vn</p>
						</div>
					</div>
					<div class="website">
						<div class="website-icon">
							<i class="fa fa-globe"></i>
						</div>
						<div class="website-content">
							<p>www.moki.vn</p>
						</div>
					</div>
				</div>
				<div class="footer-contact3">
					<h1>CÁC DANH MỤC LIÊN KẾT</h1>
					<ul>
						<li><a href="#">Miễn phí</a></li>
						<li><a href="#">Bé ăn</a></li>
						<li><a href="#">Bé mặc</a></li>
						<li><a href="#">Bé ngủ</a></li>
						<li><a href="#">Bé tắm</a></li>
						<li><a href="#">Bé vệ sinh</a></li>
						<li><a href="#">Bé Khỏe-An toàn</a></li>
						<li><a href="#">Bé đi ra ngoài</a></li>
						<li><a href="#">Bé chơi mà học</a></li>
						<li><a href="#">Dành cho mẹ</a></li>
						<li><a href="#">Đồ dùng gia đình</a></li>
						<li><a href="#">Sản phẩm khác</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--End footer-->
	</div>
</body>

</html>