<html !DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <!--Start Header-->
    <div class="wrap">
        <div class="header">
            <div class="header-content">
                <div class="header-content-left">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>Hotline: 19000091</span>
                </div>
                <div class="header-content-right">
                    <span>Chào mừng bạn đến với MOKI</span>
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Kiểm tra đơn hàng</a></span>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="#">Giỏ hàng</a></span>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <b>|</b>
                    <span><a href="/login">Đăng nhập</a></span>
                    <span>/</span>
                    <span><a href="#">Đăng ký</a></span>

                </div>
            </div>
        </div>
        <!--END HEADER-->
        <!--START NAV-->
        <div class="nav">
            <div class="logo-brand">
                <img src="https://moki.vn/moki/themes/img/logo_medium.png" alt="logo">
            </div>
            <div class="nav-content-right">
                <div class="search-bar">
                    <form class="search-box">
                        <input type="text" placeholder="Nhập sản phẩm bạn muốn tìm.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li><a class="active" href="/">TRANG CHỦ</a></li>
                        <li><a href="#">GÓC CỦA MẸ</a></li>
                        <li><a href="/gioithieu">GIỚI THIỆU</a></li>
                        <li><a href="#">SHOP MOKI</a></li>
                        <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <hr>
        </div>
        <!--End of niv-->
        <!--Start Slider-->
        <div class="slider">
            <div class="slider-left">
                <div class="slider-list">
                    <i class="fa fa-list-ul"> DANH MỤC SẢN PHẨM</i>
                    <ul>
                        <li><a href="#">Miễn phí</a></li>
                        <li><a href="#">Bé ăn</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Ghế ăn bột cho bé</a></li>
                                <li><a href="#">Bình sữa và phụ kiện</a></li>
                                <li><a href="#">Sữa bột các loại</a></li>
                                <li><a href="#">Bột, cháo ăn dặm</a></li>
                                <li><a href="#">Đồ dùng ăn uống</a></li>
                                <li><a href="#">Thực phẩm đóng hộp</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé mặc</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Giày dép cho bé</a></li>
                                <li><a href="#">Mũ thời trang</a></li>
                                <li><a href="#">Đồ sơ sinh</a></li>
                                <li><a href="#">Phụ kiện thời trang</a></li>
                                <li><a href="#">Thời trang cho bé</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé ngủ</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Giường ngủ</a></li>
                                <li><a href="#">Nôi sách em bé</a></li>
                                <li><a href="#">Chăn ga, gối đệm</a></li>
                                <li><a href="#">Bộ quây cũi</a></li>
                                <li><a href="#">Nôi điện tự động</a></li>
                                <li><a href="#">Cũi cho bé</a></li>
                                <li><a href="#">Ghế rung cho bé</a></li>
                                <li><a href="#">Chặn giường</a></li>
                                <li><a href="#">Nôi ngủ chung giường</a></li>
                                <li><a href="#">Đèn ngủ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé tắm</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Chậu tắm và phụ kiện</a></li>
                                <li><a href="#">Đo nhiệt độ tắm </a></li>
                                <li><a href="#">Khăn mặt, khăn tắm</a></li>
                                <li><a href="#">Đồ chơi khi tắm</a></li>
                                <li><a href="#">Sữa tắm,dầu gội dầu</a></li>
                                <li><a href="#">Mũ chắn nước</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé vệ sinh</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Vệ sinh cá nhân</a></li>
                                <li><a href="#">Kem hăm, dưỡng da</a></li>
                                <li><a href="#">Bỉm và tã giấy</a></li>
                                <li><a href="#">Giấy ướt và máy ủ</a></li>
                                <li><a href="#">Bô vệ sinh</a></li>
                                <li><a href="#">Tấm lót chống thấm</a></li>

                            </ul>
                        </li>
                        <li>

                            <a href="#">Bé Khỏe-An toàn</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Dụng cụ hút mũi</a></li>
                                <li><a href="#">Cao dán hạ sốt</a></li>
                                <li><a href="#">Cho bé uống thuốc</a></li>
                                <li><a href="#">Nhiệt kế cho bé</a></li>
                                <li><a href="#">Kem chống côn trùng</a></li>
                                <li><a href="#">Cân sức khỏe cho bé</a></li>
                                <li><a href="#">Bịt ổ điện</a></li>
                                <li><a href="#">Thực phẩm chức năng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé đi ra ngoài</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Ô, kem chống nắng</a></li>
                                <li><a href="#">Xe đẩy</a></li>
                                <li><a href="#">Địu, đai</a></li>
                                <li><a href="#">Balo</a></li>
                                <li><a href="#">Ghế ngồi xe hơi</a></li>
                                <li><a href="#">Đồ bơi</a></li>
                                <li><a href="#">Kính thời trang</a></li>
                                <li><a href="#">Ghế ngồi xe máy</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Bé chơi mà học</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Đồ chơi sơ sinh</a></li>
                                <li><a href="#">Đồ chơi gỗ</a></li>
                                <li><a href="#">Đồ chơi thông minh</a></li>
                                <li><a href="#">Đồ chơi bé trai</a></li>
                                <li><a href="#">Đồ chơi bé gái</a></li>
                                <li><a href="#">Đồ chơi vận động</a></li>
                                <li><a href="#">Sách, truyện</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Dành cho mẹ</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Mẹ mang thai</a></li>
                                <li><a href="#">Mẹ sau khi sinh</a></li>
                                <li><a href="#">Đồ hút sữa</a></li>
                                <li><a href="#">Sữa bà bầu</a></li>
                                <li><a href="#">Dầu gội, mỹ phẩm</a></li>
                                <li><a href="#">Sách cho mẹ</a></li>
                                <li><a href="#">Giày dép mẹ</a></li>
                                <li><a href="#">Thời trang</a></li>
                                <li><a href="#">Thực phẩm chức năng</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Đồ dùng gia đình</a><span class="fa fa-angle-double-down"></span>
                            <ul class="list-menu">
                                <li><a href="#">Phòng bếp</a></li>
                                <li><a href="#">Phòng tắm, giặt</a></li>
                                <li><a href="#">Phòng khách</a></li>
                                <li><a href="#">Phòng ngủ</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Sản phẩm khác</a>
                        </li>
                    </ul>
                </div>
                <img src="https://moki.vn/files/bannerhome/e861a99a5e9f9936516459da3afdbb0b.jpg">
                <div class="new-brand">
                    <h2> SẢN PHẨM MỚI NHẤT </h2>
                    <div class="new-brand01">
                        <div class="new-brand01-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand01-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="new-brand">
                    <h2> SẢN PHẨM KHÁC </h2>
                    <div class="new-brand01">
                        <div class="new-brand01-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand01-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="new-brand02">
                        <div class="new-brand02-img">
                            <img src="https://moki.vn//files/product/images/320s/3bd3c62b3098cc2b758d0b13a751de29.jpg">
                        </div>
                        <div class="new-brand02-content">
                            <p> Corset giảm eo</p>
                            <h2>650,000đ</h2>
                        </div>
                    </div>
                </div>
                <img src="https://moki.vn/files/bannerhome/731177de913955e046e5c4ec72089038.jpg">
            </div>
            <div class="slider-right">
                <div class="main-image">
                    <img src="/image1/46479733_285034002144357_6431745622050603008_n.png">
                </div>
                <div class="extra-image">
                    <div class="extra-image01">
                        <img src="https://moki.vn/files/bannerhome/24a24183a231fd83ec5fdcf9fe16cec9.jpg">
                    </div>
                    <div class="extra-image02">
                        <img src="https://moki.vn/files/bannerhome/1167610aa17b0813233fe82d99403e41.jpg">
                    </div>
                </div>
                <div class="clear"></div>
                <div class="sale">
                    <h1> SẢN PHẨM KHUYẾN MÃI ĐẶC BIỆT</h1>
                    <br>

                    <div id="1" class="item01">
                        <div class="item1-image">
                            <img src="https://moki.vn//files/product/images/320s/0d74660d41f42227af3dbbb6d0821e69.jpg">
                        </div>
                        <div class="item1-content">
                            <p> Bát ăn chia ngăn cho bé màu xanh</p>
                            <h2> 69,000đ</h2>
                        </div>
                    </div>
                    <div id="2" class="item02">
                        <a href="chitietsp">
                            <div class="item1-image">
                                <img src="https://moki.vn//files/product/images/320s/22b71b859358d92e0cca4e388a6b9768.jpg">
                            </div>
                        </a>
                        <div class="item1-content">
                            <p> Bát ăn chia ngăn cho bé màu hồng</p>
                            <h2> 69,000đ</h2>
                        </div>
                    </div>
                    <div id="3" class="item03">
                        <div class="item1-image">
                            <img src="https://moki.vn//files/product/images/320s/9b45a62f2ac40efd9b539c09d02a7676.jpg">
                        </div>
                        <div class="item1-content">
                            <p> Bốn bình sữa Nhật cỡ nhỏ như hình</p>
                            <h2> 300,000đ</h2>
                        </div>
                    </div>
                    <div id="4" class="item04">
                        <div class="item1-image">
                            <img src="https://moki.vn//files/product/images/320s/d53e4ee01dc8aa418b712c1d07dea273.jpg">
                        </div>
                        <div class="item1-content">
                            <p>Bộ bà ba màu nâu dành cho bé trai </p>
                            <h2>180,000đ </h2>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="baby-eat">
                    <div class="baby-eat-img">
                        <img src="https://moki.vn/files/bannerhome/bb533e77229fe2582eedbb38556386ab.jpg">
                    </div>
                    <div class="baby-eat-left">
                        <div class="baby-eat-list">
                            <h2> Bé ăn </h2>
                            <ul class="baby-eat-list-menu">
                                <li><a href="#">Ghế ăn bột cho bé</a></li>
                                <li><a href="#">Bình sữa và phụ kiện</a></li>
                                <li><a href="#">Sữa bột các loại</a></li>
                                <li><a href="#">Bột, cháo ăn dặm</a></li>
                                <li><a href="#">Đồ dùng ăn uống</a></li>
                                <li><a href="#">Thực phẩm đóng hộp</a></li>
                            </ul>
                        </div>
                        <div class="baby-eat-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/9.jpg">
                        </div>
                    </div>
                    <div class="baby-eat-right">
                        <% list_bean.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-wear">
                    <div class="baby-wear-img">
                        <img src="https://moki.vn/files/bannerhome/bf5170ebef2f6025cdc989ff3754cdfe.jpg">
                    </div>
                    <div class="baby-wear-left">
                        <div class="baby-wear-list">
                            <h2> Bé mặc </h2>
                            <ul class="baby-wear-list-menu">
                                <li><a href="#">Giày dép cho bé</a></li>
                                <li><a href="#">Mũ thời trang</a></li>
                                <li><a href="#">Đồ sơ sinh</a></li>
                                <li><a href="#">Phụ kiện thời trang</a></li>
                                <li><a href="#">Thời trang cho bé</a></li>
                            </ul>
                        </div>
                        <div class="baby-wear-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/1.jpg">
                        </div>
                    </div>
                    <div class="baby-wear-right">
                        <% list_bemac.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-sleep">
                    <div class="baby-sleep-img">
                        <img src="https://moki.vn/files/bannerhome/4a47a0db6e60853dedfcfdf08a5ca249.png">
                    </div>
                    <div class="baby-sleep-left">
                        <div class="baby-sleep-list">
                            <h2> Bé ngủ </h2>
                            <ul class="baby-sleep-list-menu">
                                <li><a href="#">Giường ngủ</a></li>
                                <li><a href="#">Nôi sách em bé</a></li>
                                <li><a href="#">Chăn ga, gối đệm</a></li>
                                <li><a href="#">Bộ quây cũi</a></li>
                                <li><a href="#">Nôi điện tự động</a></li>
                                <li><a href="#">Cũi cho bé</a></li>
                                <li><a href="#">Ghế rung cho bé</a></li>
                                <li><a href="#">Chặn giường</a></li>
                                <li><a href="#">Nôi ngủ chung giường</a></li>
                                <li><a href="#">Đèn ngủ</a></li>
                            </ul>
                        </div>
                        <div class="baby-sleep-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/3.jpeg">
                        </div>
                    </div>
                    <div class="baby-sleep-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-shower">
                    <div class="baby-shower-img">
                        <img src="https://moki.vn/files/bannerhome/ee52d67e28397f64be797024229f8ffa.jpeg">
                    </div>
                    <div class="baby-shower-left">
                        <div class="baby-shower-list">
                            <h2> Bé tắm </h2>
                            <ul class="baby-shower-list-menu">
                                <li><a href="#">Chậu tắm và phụ kiện</a></li>
                                <li><a href="#">Đo nhiệt độ tắm </a></li>
                                <li><a href="#">Khăn mặt, khăn tắm</a></li>
                                <li><a href="#">Đồ chơi khi tắm</a></li>
                                <li><a href="#">Sữa tắm,dầu gội dầu</a></li>
                                <li><a href="#">Mũ chắn nước</a></li>
                            </ul>
                        </div>
                        <div class="baby-shower-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/5.jpeg">
                        </div>
                    </div>
                    <div class="baby-shower-right">
                        <% list_betam.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-care">
                    <div class="baby-care-img">
                        <img src="https://moki.vn/files/bannerhome/106a1f9658b09fe1993193155687110f.jpg">
                    </div>
                    <div class="baby-care-left">
                        <div class="baby-care-list">
                            <h2> Bé vệ sinh </h2>
                            <ul class="baby-care-list-menu">
                                <li><a href="#">Vệ sinh cá nhân</a></li>
                                <li><a href="#">Kem hăm, dưỡng da</a></li>
                                <li><a href="#">Bỉm và tã giấy</a></li>
                                <li><a href="#">Giấy ướt và máy ủ</a></li>
                                <li><a href="#">Bô vệ sinh</a></li>
                                <li><a href="#">Tấm lót chống thấm</a></li>
                            </ul>
                        </div>
                        <div class="baby-care-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/4.jpeg">
                        </div>
                    </div>
                    <div class="baby-care-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-safe">
                    <div class="baby-safe-img">
                        <img src="https://moki.vn/files/bannerhome/35ec6b14720ce5c485bc2f22eb843c26.jpeg">
                    </div>
                    <div class="baby-safe-left">
                        <div class="baby-safe-list">
                            <h2> Bé Khỏe-An toàn </h2>
                            <ul class="baby-safe-list-menu">
                                <li><a href="#">Dụng cụ hút mũi</a></li>
                                <li><a href="#">Cao dán hạ sốt</a></li>
                                <li><a href="#">Cho bé uống thuốc</a></li>
                                <li><a href="#">Nhiệt kế cho bé</a></li>
                                <li><a href="#">Kem chống côn trùng</a></li>
                                <li><a href="#">Cân sức khỏe cho bé</a></li>
                                <li><a href="#">Bịt ổ điện</a></li>
                                <li><a href="#">Thực phẩm chức năng</a></li>
                            </ul>
                        </div>
                        <div class="baby-safe-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/10.jpg">
                        </div>
                    </div>
                    <div class="baby-safe-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-outside">
                    <div class="baby-outside-img">
                        <img src="https://moki.vn/files/bannerhome/0a6f318a919eb1a438a23947370d8c36.jpg">
                    </div>
                    <div class="baby-outside-left">
                        <div class="baby-outside-list">
                            <h2> Bé ra ngoài </h2>
                            <ul class="baby-outside-list-menu">
                                <li><a href="#">Ô, kem chống nắng</a></li>
                                <li><a href="#">Xe đẩy</a></li>
                                <li><a href="#">Địu, đai</a></li>
                                <li><a href="#">Balo</a></li>
                                <li><a href="#">Ghế ngồi xe hơi</a></li>
                                <li><a href="#">Đồ bơi</a></li>
                                <li><a href="#">Kính thời trang</a></li>
                                <li><a href="#">Ghế ngồi xe máy</a></li>
                            </ul>
                        </div>
                        <div class="baby-outside-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/8.jpg">
                        </div>
                    </div>
                    <div class="baby-outside-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-play">
                    <div class="baby-play-img">
                        <img src="https://moki.vn/files/bannerhome/d74e63fb7914f9fdf2f6adbea89866ec.jpg">
                    </div>
                    <div class="baby-play-left">
                        <div class="baby-play-list">
                            <h2> Bé chơi mà học </h2>
                            <ul class="baby-play-list-menu">
                                <li><a href="#">Đồ chơi sơ sinh</a></li>
                                <li><a href="#">Đồ chơi gỗ</a></li>
                                <li><a href="#">Đồ chơi thông minh</a></li>
                                <li><a href="#">Đồ chơi bé trai</a></li>
                                <li><a href="#">Đồ chơi bé gái</a></li>
                                <li><a href="#">Đồ chơi vận động</a></li>
                                <li><a href="#">Sách, truyện</a></li>
                            </ul>
                        </div>
                        <div class="baby-play-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/2.jpeg">
                        </div>
                    </div>
                    <div class="baby-play-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-mother">
                    <div class="baby-mother-img">
                        <img src="https://moki.vn/files/bannerhome/1cdd2209eb0888e815362e3302fe583d.jpg">
                    </div>
                    <div class="baby-mother-left">
                        <div class="baby-mother-list">
                            <h2> Dành cho mẹ</h2>
                            <ul class="baby-mother-list-menu">
                                <li><a href="#">Mẹ mang thai</a></li>
                                <li><a href="#">Mẹ sau khi sinh</a></li>
                                <li><a href="#">Đồ hút sữa</a></li>
                                <li><a href="#">Sữa bà bầu</a></li>
                                <li><a href="#">Dầu gội, mỹ phẩm</a></li>
                                <li><a href="#">Sách cho mẹ</a></li>
                                <li><a href="#">Giày dép mẹ</a></li>
                                <li><a href="#">Thời trang</a></li>
                                <li><a href="#">Thực phẩm chức năng</a></li>
                            </ul>
                        </div>
                        <div class="baby-mother-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/7.jpeg">
                        </div>
                    </div>
                    <div class="baby-mother-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div class="baby-family">
                    <div class="baby-family-img">
                        <img src="https://moki.vn/files/bannerhome/022f7099d0123a6f27a51be045061552.jpeg">
                    </div>
                    <div class="baby-family-left">
                        <div class="baby-family-list">
                            <h2> Đồ dùng gia đình</h2>
                            <ul class="baby-family-list-menu">
                                <li><a href="#">Phòng bếp</a></li>
                                <li><a href="#">Phòng tắm, giặt</a></li>
                                <li><a href="#">Phòng khách</a></li>
                                <li><a href="#">Phòng ngủ</a></li>
                            </ul>
                        </div>
                        <div class="baby-family-left-img">
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/6.jpeg">
                        </div>
                    </div>
                    <div class="baby-family-right">
                        <% list_bengu.forEach((Sanpham)=>{%>
                        <div class="item1">
                            <div class="item1-image">
                                <a href="/chitietsp/<%- Sanpham.image%>"><img src="/image1/<%=Sanpham.image%>"></a>
                            </div>
                            <div class="item1-content">
                                <p>
                                    <%=Sanpham.name%>
                                </p>
                                <h2>
                                    <%=Sanpham.price%>
                                </h2>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--End Slider-->
        <!--End Slider-->
        <!--Start delivery-->
        <div class="delivery">
            <div class="free-delivery">
                <div class="free-delivery-image">
                    <img src="https://wolfgaming.org/wp-content/uploads/2016/02/Delivery-Icon.png">
                </div>
                <div class="free-delivery-content">
                    <h1>Free Delivery</h1>
                    <p>Maecenas imperdiet sagittis enim</p>
                </div>
            </div>
            <div class="days-free-returns">
                <div class="days-free-returns-image">
                    <img src="https://png.icons8.com/metro/1600/overtime.png">
                </div>
                <div class="days-free-returns-content">
                    <h1>Days Free Returns</h1>
                    <p>Maecenas imperdiet sagittis enim</p>
                </div>
            </div>
            <div class="cash-on-delivery">
                <div class="cash-on-delivery-image">
                    <img src="https://cdn1.iconfinder.com/data/icons/finance-vol-3/48/145-512.png">
                </div>
                <div class="cash-on-delivery-content">
                    <h1>Cash On Delivery</h1>
                    <p>Maecenas imperdiet sagittis enim</p>
                </div>
            </div>
        </div>

        <!--End delivery-->
        <!--Start footer-->
        <div class="footer">
            <div class="footer-info">
                <div class="footer-info1">
                    <p> Hỏi và đáp</p>
                </div>
                <div class="footer-info2">
                    <p> Điều khoản sử dụng</p>
                </div>
                <div class="footer-info3">
                    <p> Bảo mật thông tin khách hàng</p>
                </div>
                <div class="footer-info4">
                    <p> Giải quyết khiếu nại, tranh chấp</p>
                </div>
                <div class="footer-info5">
                    <p> Quy chế hoạt động</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="footer-contact">
                <div class="footer-contact1">
                    <div class="footer-contact1a">
                        <img src="https://moki.vn/moki/themes/img/logo_big.png">
                        <p>CÔNG TY CỔ PHẦN MOKI
                            <br>
                            Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.
                            <br>
                            Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.
                        </p>
                    </div>
                    <div class="footer-contact1b">
                        <p>Đăng ký nhận thông tin ưu đãi và khuyến mãi khủng từ MOKI</p>
                        <div class="email">
                            <form class="email-form1">
                                <input type="text" placeholder="  Nhập email của bạn" class="text-search" />
                            </form>
                            <form class="email-form2">
                                <button type="submit" class="email-botton">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer-contact2">
                    <h1> LIÊN HỆ</h1>
                    <div class="place">
                        <div class="place-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="place-content">
                            <h3>TRỤ SỞ CHÍNH:</h3>
                            <p>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</p>
                            <h3>ĐỊA CHỈ GIAO DỊCH:</h3>
                            <p>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</p>
                        </div>
                    </div>
                    <div class="hotline">
                        <div class="hotline-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="place-content">
                            <p>Hotline: 1900.636.779</p>
                        </div>
                    </div>
                    <div class="time">
                        <div class="time-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="time-content">
                            <p>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</p>
                            <p>Thứ 7:8h00 - 12h00</p>
                        </div>
                    </div>
                    <div class="email">
                        <div class="email-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="email-content">
                            <p>hotro@moki.vn</p>
                        </div>
                    </div>
                    <div class="website">
                        <div class="website-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="website-content">
                            <p>www.moki.vn</p>
                        </div>
                    </div>
                </div>
                <div class="footer-contact3">
                    <h1>CÁC DANH MỤC LIÊN KẾT</h1>
                    <ul>
                        <li><a href="#">Miễn phí</a></li>
                        <li><a href="#">Bé ăn</a></li>
                        <li><a href="#">Bé mặc</a></li>
                        <li><a href="#">Bé ngủ</a></li>
                        <li><a href="#">Bé tắm</a></li>
                        <li><a href="#">Bé vệ sinh</a></li>
                        <li><a href="#">Bé Khỏe-An toàn</a></li>
                        <li><a href="#">Bé đi ra ngoài</a></li>
                        <li><a href="#">Bé chơi mà học</a></li>
                        <li><a href="#">Dành cho mẹ</a></li>
                        <li><a href="#">Đồ dùng gia đình</a></li>
                        <li><a href="#">Sản phẩm khác</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End footer-->
    </div>
</body>

</html>